In [1]:
#1. Write a program to reverse a string.

In [2]:
str =  "pwskills"
result = str[::-1]
print(result)

sllikswp

In [5]:
#2. Check if a string is a palindrome.

In [ ]:
str = input("enter the string")
result = str[::-1]
if(result == str):
    
    print("palindrome")
else:
    
    print("not palindrome")

In [ ]:
3. Convert a string to uppercase.

In [ ]:
str = input("enter the string")
print(str.upper())

In [ ]:
4. Convert a string to lowercase.

In [ ]:
str  = input("enter the string")
print(str.lower())

In [ ]:
5. Count the number of vowels in a string.

In [ ]:
vowels = "aeiouAEIOU"
str = input("enter the string")
count = 0
for char in str:
    if char in vowels:
        count = count + 1
print(count)

In [ ]:
6.Count the number of consonants in a string.

In [ ]:
result = "aeiouAEIOU"
str = input("enter the string")
count = 0
for char in str:
    if char  is not result:
        count = count + 1
print("consonant in a string is :",count)

In [ ]:
7.Remove all whitespaces from a string.

In [ ]:
str = input("enter the string")
result = str.replace(" ", "")
print(result)

In [ ]:
8. Find the length of a string without using the `len()` function.

In [9]:
str = input("enter the string")
count = 0
for i in str:
    count = count + 1
print(count)

enter the string vineet

6

In [ ]:
9. Check if a string contains a specific word.

In [ ]:
result = " i am a pw student"
find = "pw"
if find in result:
    print("present")
else:
    print("not present")

In [ ]:
10. Replace a word in a string with another word.

In [ ]:
str = "I am a pw student"
result = str.replace("am", "AM")
print(result)

In [ ]:
11. Count the occurrences of a word in a string.

In [ ]:
str = "vineet is a good student,vineet should focus on study"
find  = "vineet"
count  = str.count(find)
print(count)

In [ ]:
12. Find the first occurrence of a word in a string.

In [8]:
str = "This is a sample text. This text contains a sample word."
word = "AMER"

index = str.find(word)

if index != -1:
    print(f"The word '{word}' first occurs at index {index}.")
else:
    print(f"The word '{word}' is not present in the text.")

The word 'AMER' is not present in the text.

In [ ]:
13. Find the last occurrence of a word in a string.

In [ ]:
str = "This is a sample text. This text contains a sample word."
word = "sample"

index = str.rfind(word)

if index != -1:
    print(f"The word '{word}' first occurs at index {index}.")
else:
    print(f"The word '{word}' is not present in the text.")

In [ ]:
14. Split a string into a list of words.

In [10]:
str  =  "Welcome to pw skills"
result  =  str.split()
print(result)

['Welcome', 'to', 'pw', 'skills']

In [ ]:
15. Join a list of words into a string.

In [ ]:
list1 = ['I','am','a','student','of','pw skills']
str = " "
result  = str.join(list1)
print(result)

In [ ]:
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
str = "i am vineet kumar"
result = str.replace(" ","_")
print(result)

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [ ]:
sentence = "hello, i am vineet"
valid = "hello"
if sentence.startswith(valid):
    print("string is starts with a specific word")
else:
      print("string is not starts with a specific word")

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [ ]:
sentence = "hello, i am vineet"
valid = "vi"
if sentence.endswith(valid):
    print("string is end with a specific word")
else:
      print("string is not end with a specific word")

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
str = "hello world"
result = str.title()
print(result)

In [ ]:
20. Find the longest word in a string.

In [ ]:
str = " i am vineet kumar tripathi"
words  = str.split()
longest =" "
for word in words:
    if len(word)>len(longest):
        longest  =  word
        
print("longest string is:",longest)

In [ ]:
21. Find the shortest word in a string.

In [ ]:
str = "english is a funny language"
words  = str.split()
smallest = words[0]
for word in words:
    if len(word)<len(smallest):
        smallest  =  word
        
print("smallest string is:",smallest)

In [ ]:
22. Reverse the order of words in a string.

In [ ]:
str = "i am not going to college today"
words = str.split()
reversed_words = reversed(words)
newstring = ' '.join(reversed_words)
print(newstring)

In [ ]:
23. Check if a string is alphanumeric.

In [ ]:
str = "hello123"
print(str.isalnum())

In [ ]:
24. Extract all digits from a string.

In [ ]:
input_string = "pwskills1234556788888899"
digit = ' '
for char in input_string:
    if char.isdigit():
        digit = digit + char
print(digit)

In [ ]:
25. Extract all alphabets from a string.

In [ ]:
input_string = "pwskills1234556788888899"
alpha = ' '
for char in input_string:
    if char.isalpha():
        alpha = alpha + char
print(alpha)

In [ ]:
26. Count the number of uppercase letters in a string.

In [ ]:
input_string = "I am  FrOm LucKnOW"
count = 0;
for char in input_string:
    if char.isupper():
        count = count + 1;
print(count)

In [ ]:
27 Count the number of Lowercase letters in a string.

In [ ]:
input_string = "I am  FrOm LucKnOW"
count = 0
for char in input_string:
    if char.islower():
        count  = count + 1
print(count)

In [ ]:
28. Swap the case of each character in a string.

In [ ]:
input_string = "vinEEt123"
swap = ''

for char in input_string:
    if char.isupper():
        swap = swap + char.lower()
    elif char.islower():
        swap = swap + char.upper()
    elif char.isdigit():
        swap = swap + char

print(swap)

In [6]:
#29. Remove a specific word from a string.

In [ ]:
str = "i am vineet kumar"
word_to_remove = "kumar"
result = str.split()

newstring = ' '
for word in result:
    if word != word_to_remove:
        newstring += word + ' '

print(newstring)

In [ ]:
#another method
input_string = "Hello, this is a sample string. hello again."

word_to_remove = "hello"
modified_string = input_string.replace(word_to_remove, '')

print(modified_string)

In [ ]:
30. Check if a string is a valid email address.

In [ ]:
import re

email = "user@example.com"

pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern, email):
    print("Valid email address")
else:
    print("Invalid email address")

In [ ]:
31. Extract the username from an email address string.

In [ ]:
email = "user@example.com"
new = ' '
for char in email:
    if(char == '@'):
        break
    elif(char != '@'):
        new = new + char
print(new)

In [ ]:
32. Extract the domain name from an email address string.

In [ ]:
email = "user@example.com"


domain = email.split('@')[1]

print("Domain:", domain)

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [ ]:
import re

str_input = input("Enter the string: ")
result = re.sub(r'\s+', ' ', str_input)

print(result)

In [ ]:
34.Check if a string is a valid URL.

In [ ]:

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url1 = "https://www.example.com"
url2 = "invalid_url"

print(is_valid_url(url1))  # Output: True
print(is_valid_url(url2))  # Output: False

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [ ]:
from urllib.parse import urlparse

url = "https://www.example.com"

parsed_url = urlparse(url)
protocol = parsed_url.scheme

print("Protocol:", protocol)

In [ ]:
36. Find the frequency of each character in a string.

In [ ]:
str ="pw skills best"
frequency = {}
for char in str:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print(frequency)

In [ ]:
37. Remove all punctuation from a string.

In [ ]:
punctuation = "!#$%&'()*+,-./:;<=>?@[\]^_`{|}~"
str = "vineet!* +kumar:<"
result = ' '
for char in str:
    if(char in punctuation):
        continue
    else:
        result = result +  char
print(result)

In [ ]:
38. Check if a string contains only digits.

In [ ]:
digit = "123456A"

for char in digit:
    if char.isalpha():
        print("not all digits")
        break
else:
    print("all digits")

In [ ]:
39. Check if a string contains only alphabets.

In [ ]:
str = "akkask"

for char in str:
    if char.isdigit():
        print("not all alphabet")
        break
else:
    print("all alphabet")

In [ ]:
40. Convert a string to a list of characters.

In [ ]:
str = input("enter the string")
char_list = list(str)
print(char_list)

In [ ]:
41. Check if two strings are anagrams.

In [ ]:
str1 = input("enter the string")
str2 = input("enter the string")
if sorted(str1) == sorted(str2):
    print("anagram")
else:
    print("not anagram")

In [ ]:
42. Encode a string using a Caesar cipher.

In [ ]:
plaintext = input("enter the string")
shift = int(input("enter the number"))
encrypted_text = ""

for char in plaintext:
    if char.isalpha():
        if char.islower():
            shifted_char = chr((ord(char) - ord('a') + shift) % 26 + ord('a'))
        else:
            shifted_char = chr((ord(char) - ord('A') + shift) % 26 + ord('A'))
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print("Encrypted:", encrypted_text)

In [ ]:
43. Decode a Caesar cipher encoded string.

In [ ]:
plaintext = input("enter the string")
shift = int(input("enter the number"))
encrypted_text = ""

for char in plaintext:
    if char.isalpha():
        if char.islower():
            shifted_char = chr((ord(char) - ord('a') - shift) % 26 + ord('a'))
        else:
            shifted_char = chr((ord(char) - ord('A') - shift) % 26 + ord('A'))
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print("Encrypted:", encrypted_text)

In [ ]:
44. Find the most frequent word in a string.

In [ ]:

arr = [ "vineet", "is", "a", "good", "student", "vineet", "are ", "you", "ok", "vineet", "is", "meet", "vineet"]
n = len(arr)


freq = 0

res = ""


for i in range(0, n, 1):
    count = 0
    for j in range(i + 1, n, 1):
        if arr[j] == arr[i]:
            count += 1

    
    if count >= freq:
        res = arr[i]
        freq = count

print("The word that occurs most is:", res)
print("No of times:", freq)

In [ ]:
45. Find all unique words in a string.

In [ ]:
input_text = "This is a sample text. This text contains some sample words."
words = input_text.split()  # Split the text into words
unique_words = []

for word in words:
    cleaned_word = ""
    for char in word:
        if char.isalpha() or char.isdigit():
            
            
            cleaned_word += char
    cleaned_word = cleaned_word.lower()  # Convert to lowercase
    if cleaned_word and cleaned_word not in unique_words:
        unique_words.append(cleaned_word)

print("Unique words:", unique_words)

In [ ]:
46. Count the number of syllables in a string.

In [ ]:
def count_syllables_no_def(word):
  vowels = "aeiouAEIOU"
  num_vowels = 0

  for char in word:
    if char.isalpha() and char in vowels:
      num_vowels += 1

  if word[-1] in vowels:
    num_vowels -= 1

  return num_vowels

word = "hello how are you"
num_syllables = count_syllables_no_def(word)
print(num_syllables)

In [ ]:
47. Check if a string contains any special characters.

In [ ]:
input_str = "vineet@"
special_characters = "!@#$%^&*()"

contains_special = False

for char in input_str:
    if char in special_characters:
        contains_special = True
        break

if contains_special:
    print("String contains special characters.")
else:
    print("String does not contain special characters.")

In [ ]:
48. Remove the nth word from a string.

In [ ]:
input_str = "This is a sample string to demonstrate."
n = 3  # Replace with the nth word you want to remove

words = input_str.split()
if n >= 1 and n <= len(words):
    del words[n - 1]
    result = ' '.join(words)
    print(result)
else:
    print("Invalid value of n")

In [ ]:
49. Insert a word at the nth position in a string.

In [ ]:
input_str = "This is a sample string to demonstrate."
word_to_insert = "new"
n = 3  # Replace with the nth position you want to insert at

words = input_str.split()
if n >= 1 and n <= len(words) + 1:
    words.insert(n - 1, word_to_insert)
    result = ' '.join(words)
    print(result)
else:
    print("Invalid value of n")

In [ ]:
50. Convert a CSV string to a list of lists.

In [ ]:
import csv
from io import StringIO

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Michael,Johnson"

csv_file = StringIO(csv_string)  # Create a file-like object from the CSV string

csv_list = []
csv_reader = csv.reader(csv_file)
for row in csv_reader:
    csv_list.append(row)

print(csv_list)

In [ ]:
TOPIC :- List Based Practice Problem

In [ ]:
1. Create a list with integers from 1 to 10.

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)

In [ ]:
2. Find the length of a list without using the `len()` function.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
length = 0
for i in list1:
    length = length + 1
print(length)

In [ ]:
3. Append an element to the end of a list.

In [ ]:
list1 = [1,2,4,5]
list1.append(7)
print(list1)

In [ ]:
4. Insert an element at a specific index in a list.

In [ ]:
list1 = [1,3,4,5,6,8,8,8,9]
new_element  =  10
index = 2
list1.insert(index,new_element)
print("update list is:",list1)

In [ ]:
5. Remove an element from a list by its value.

In [ ]:
list1 = [1,2,3,5,6]
element = 3
list1.remove(element)
print("update list is",list1)

In [ ]:
6. Remove an element from a list by its index.

In [ ]:
list1 = [1,3,4,5,6,8,8,8,9]
index = 2
list1.pop(index)
print("update list is:",list1)

In [ ]:
7. Check if an element exists in a list.

In [ ]:
list1 = [1,3,4,5,6,8,8,8,9]
element = 3
for i in list1:
    if element in list1:
        print("present")
        break;

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [ ]:
str_list = ["This", "is", "a", "sample", "text.", "This", "text", "contains", "a", "sample", "word"]
word = "sample"

try:
    index = str_list.index(word)
    print(f"The word '{word}' first occurs at index {index}.")
except ValueError:
    print(f"The word '{word}' is not present in the list.")

In [ ]:
9. Count the occurrences of an element in a list.

In [ ]:
str_list = ["This", "is", "a", "sample", "text.", "This", "text", "contains", "a", "sample", "word"]
word = "sample"

count = 0

for i in str_list:
    if i == word:
        count = count + 1

print(count)

In [ ]:
10. Reverse the order of elements in a list.

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
result = list1[::-1]
print(result)

In [ ]:
11. Sort a list in ascending order.

In [ ]:
original_list = [5, 2, 8, 1, 3]
original_list.sort()
print("Sorted list in ascending order:", original_list)

In [ ]:
12. Sort a list in descending order.

In [ ]:
original_list = [5, 2, 8, 1, 3]
sorted_list = sorted(original_list, reverse=True)
print("Original list:", original_list)
print("Sorted list in descending order:", sorted_list)

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [ ]:
even = []
for i in range(1,21):
    if i%2 == 0:
        even.append(i)
print(even)

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd = []
for i in range(1,21):
    if i%2 != 0:
        odd.append(i)
print(odd)

In [ ]:
15. Find the sum of all elements in a list.

In [ ]:
sum = [1,2,4,5,6]
total = 0
for i in sum:
    total = total + i
print(total)

In [ ]:
16. Find the maximum value in a list.

In [ ]:
list1 = [1,2,3,4,5,6]
max = 0
for i in list1:
    if(max<i):
        max = i
print(max)

In [ ]:
17. Find the minimum value in a list.

In [ ]:
list1 = [10,23,4,56,1,0]
min = list[0]
for i in list1:
    if(min>i):
        min = i
print(max)

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [ ]:
list1 = [10,23,4,56,1,0]
list2 =[]
for i in list1:
    list2.append(i*i)
print(list2)

In [ ]:
19. Create a list of random numbers.

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

In [ ]:
20. Remove duplicates from a list.

In [ ]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []

for item in original_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

In [ ]:
21. Find the common elements between two lists.

In [ ]:
list1 = [1,2,3,4]
list2 = [30,2,4,5]
common_element = []
for item in list1:
    if item in list2:
        common_element.append(item)
        
print("common element between two list",common_element)

In [ ]:
22. Find the difference between two lists.

In [ ]:
list1 = [1,2,4,5]
list2 = [6,4,5,7]
result = []
for item in list1:
    if item not in list2:
        result.append(item)
print("difference between two list:",result)

In [ ]:
23. Merge two lists.

In [ ]:
list1 = [1,2,4,5]
list2 = [6,4,5,7]
merge_list = list1 + list2
print(merge_list)

In [ ]:
24. Multiply all elements in a list by 2.

In [ ]:
list1 = [1,2,4,5]
result = []
for item in list1:
    result.append(item*item)
print(result)

In [ ]:
25. Filter out all even numbers from a list.

In [ ]:
list1 = [5,6,8,10,2]
result = []
for i in list1:
    if i%2 == 0:
        result.append(i)
print(result)

In [ ]:
26. Convert a list of strings to a list of integers.

In [ ]:
list1 = ['1','2','3','5']
result =[]
for string in list1:
    result.append(int(string))
print(result)

In [ ]:
27. Convert a list of integers to a list of strings.

In [ ]:
list1 =[1,2,3,4,5]
result = []
for item in list1:
    result.append(str(item))
print(result)

In [ ]:
28.flatten a nested list

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

In [ ]:
29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
list1 = [0,1]
for _ in range(8):
    next_element = list1[-1] + list1[-2]
    list1.append(next_element)
print(list1)

In [ ]:
30. Check if a list is sorted.

In [ ]:
list1 = [10, 20, 30, 40]

for i in range(len(list1) - 1):
    if list1[i] > list1[i + 1]:
        print("false")
    
print("true")

In [ ]:
31. Rotate a list to the left by `n` positions.

In [ ]:
size = int(input("Enter the size: "))
list1 = [int(input("Enter element: ")) for _ in range(size)]
print("Original list:", list1)

n = int(input("Enter the number of positions to rotate left: "))

n = n % size  

#
rotated_list = list1[n:] + list1[:n]

print("Rotated list:", rotated_list)

In [ ]:
32. Rotate a list to the right by `n` positions.

In [ ]:
size = int(input("Enter the size: "))
list1 = [int(input("Enter element: ")) for _ in range(size)]
print("Original list:", list1)

n = int(input("Enter the number of positions to rotate right: "))

n = n % size


rotated_list = list1[-n:] + list1[:-n]

print("Rotated list:", rotated_list)

In [ ]:
33. Create a list of prime numbers up to 50.

In [ ]:
list1 = []
i = 2
for i in range(2,51):
    is_prime = True
    for divisor in range(2,int(i**0.5)+1):
        if i % divisor == 0:
            is_prime = False
            break
    if is_prime:
        list1.append(i)
print(list1)

In [ ]:
34. Split a list into chunks of size `n`.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
initial = 0
ending = len(list1)
step = int(input("enter the size"))
for i in range(initial,ending,step):
    x = i
    print(list1[x:x+step])

In [ ]:
35. Find the second largest number in a list.

In [ ]:
list1 = [1,2,3,4,5,6,7]
max = 0;
for i in range(0,len(list1)):
    if(list1[i]>max):
        max = list1[i]
second_max = 0
for i in range(0,len(list1)):
    if second_max < max:
        if second_max < i:
            second_max = i
print("second max number is",second_max)

In [ ]:
36. Replace every element in a list with its square.

In [ ]:
list1 = [1,2,3,4,5,6]
squared_list = [x**2 for x in list1]
print(squared_list)

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date']

my_dict = {value: index for index, value in enumerate(my_list)}

print(my_dict)

In [ ]:
38. Shuffle the elements of a list randomly.

In [ ]:
import random
list1 = [1,2,3,4,5]
print("original list is",list1)
random.shuffle(list1)
print("shuffle list is",list1)

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [ ]:
list = []
result = 1
for i in range(1,11):
    result = result*i
    list.append(result)
print(list)

In [ ]:
40. Check if two lists have at least one element in common.

In [ ]:
list_1 = [1,2,4,5,6]
list_2 = [7,8,9,10,5]
common_flag = False
for i in list1:
    if i in list1:
        common_flag = True
        break
if common_flag:
    print("common one elemnent")
else:
    print("not common element")

In [ ]:
41. Remove all elements from a list.

In [ ]:
list2 = [1,3,4,5,6,7,9]
list2.clear()
print(list2)

In [ ]:
42. Replace negative numbers in a list with 0.

In [ ]:
original_list1 = [1,-2,3,5,6,7,-9]
updated_list = []
for x in original_list1:
    if x<0:
        updated_list.append(0)
    else:
        updated_list.append(x)
print(updated_list)

In [ ]:
43. Convert a string into a list of words.

In [ ]:
my_string = "hello, world"
char_list = [char for char in my_string] 
print(char_list)

In [ ]:
44. Convert a list of words into a string.

In [ ]:
word_list = ["hello","vineet","kumar"]

result = " ".join(word_list)
print(result)

In [ ]:
45. Create a list of the first `n` powers of 2.

In [ ]:
n = int(input("enter the number"))
list1 = []
for i in range(1,n):
    list1.append(i*i)
print(list1)

In [ ]:
46. Find the longest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = ""
max_length = 0


for string in string_list:
    if len(string) > max_length:
        max_length = len(string)
        longest_string = string

print("The longest string is:", longest_string)

In [ ]:
47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

smallest_string = string_list[0]
min_length = len(string_list[0])


for string in string_list:
    if len(string) < min_length:
        min_length = len(string)
        smallest_string = string

print("The longest string is:", smallest_string)

In [ ]:
48. Create a list of the first `n` triangular numbers.

In [ ]:
n = 5  
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.append(triangular_number)

print(triangular_numbers)

In [ ]:
49. Check if a list contains another list as a subsequence.

In [ ]:
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 6]

sub_len = len(sub_list)
main_len = len(main_list)

sub_idx = 0
main_idx = 0

while main_idx < main_len:
    if sub_list[sub_idx] == main_list[main_idx]:
        sub_idx += 1
    if sub_idx == sub_len:
        break
    main_idx += 1

if sub_idx == sub_len:
    print("The sublist is a subsequence of the main list.")
else:
    print("The sublist is not a subsequence of the main list.")

In [ ]:
50. Swap two elements in a list by their indices.

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to be swapped
index1 = 1
index2 = 3

# Check if the indices are valid
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements at the specified indices
    temp = my_list[index1]
    my_list[index1] = my_list[index2]
    my_list[index2] = temp

print(my_list)

In [ ]:
Tuple Based Practice Problem :

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [ ]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

In [ ]:
2. Access the third element of a tuple.

In [ ]:
my_tuple = (1,2,3,4,6)
print(my_tuple[3])

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [ ]:
my_tuple = (1,2,3,4,6)
print(len(my_tuple))

In [ ]:
4. Count the occurrences of an element in a tuple.

In [ ]:
str_tuple = ("This", "is", "a", "sample", "text.", "This", "text", "contains", "a", "sample", "word")
word = "sample"

count = 0

for i in str_tuple:
    if i == word:
        count = count + 1

print(count)

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
str_tuple = ("This", "is", "a", "sample", "text.", "This", "text", "contains", "a", "sample", "word")
word = "sample"

try:
    index = str_tuple.index(word)
    print(f"The word '{word}' first occurs at index {index}.")
except ValueError:
    print(f"The word '{word}' is not present in the list.")

In [ ]:
6. Check if an element exists in a tuple.

In [ ]:
tuple = (1,3,4,5,6,8,8,8,9)
element = 3
for i in tuple:
    if element in tuple:
        print("present")
        break;

In [ ]:
7. Convert a tuple to a list.

In [ ]:
tuple = (1,2,3,4,5,6)
print(list(tuple))

In [ ]:
8. Convert a list to a tuple.

In [ ]:
list1 = [1,2,3,4,5]
print(tuple(list1))

In [ ]:
9. Unpack the elements of a tuple into variables.

In [ ]:

my_tuple = (1, 2, 3)


var1, var2, var3 = my_tuple


print(var1)
print(var2) 
print(var3)

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [ ]:
my_tuple = ()
even_numbers = []

for i in range(1, 11):
    if i % 2 == 0:
        even_numbers.append(i)

my_tuple = tuple(even_numbers)
print(my_tuple)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
my_tuple = ()
odd_numbers = []

for i in range(1, 11):
    if i % 2 != 0:
        odd_numbers.append(i)

my_tuple = tuple(odd_numbers)
print(my_tuple)

In [ ]:
12. Concatenate two tuples.

In [ ]:
tuple = (1,2,3)
tuple1 = (1,3,4)
result = tuple + tuple1
print(result)

In [ ]:
13. Repeat a tuple three times.

In [ ]:
tuple = (1,3,4)
print(tuple*3)

In [ ]:
14. Check if a tuple is empty.

In [ ]:
tuple1 = (1,2,3,4)
if(len(tuple1) != 0):
    print("not empty")
else:
    print("empty")

In [ ]:
15. Create a nested tuple.

In [ ]:
nested_tuple = ()

for i in range(3):
    inner_tuple = (i * 2, i * 2 + 1)
    nested_tuple += (inner_tuple,)
print(nested_tuple)

In [ ]:
16. Access the first element of a nested tuple.

In [ ]:
tuple = ((0,1),(2,3),(4,5))
result = tuple[0][0]
print(result)

In [ ]:
17. Create a tuple with a single element.

In [ ]:
single_element_tuple = (42,)
print(single_element_tuple)

In [ ]:
18. Compare two tuples.

In [ ]:
tuple = (1, 3, 4)
tuple1 = (1, 3, 4)

if tuple == tuple1:
    print(True)
else:
    print(False)

In [ ]:
19. Delete a tuple.

In [ ]:
my_tuple = (1,2,3)
del my_tuple

In [ ]:
20. Slice a tuple.

In [ ]:
my_tuple = (1,2,4,5)
subset = my_tuple[0:2]
print(subset)

In [ ]:
21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (1,34,5,78)
maxi = 0;
for i in my_tuple:
    if maxi< i:
        maxi = i
print(maxi)

In [ ]:
22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (100,34,5,78)
min = my_tuple[0];
for i in my_tuple:
    if min >i:
        min = i
print(min)

In [ ]:
23. Convert a string to a tuple of characters.

In [ ]:
my_str = "vineet kumar"
result = tuple(my_str)
print(result)

In [ ]:
24. Convert a tuple of characters to a string.

In [ ]:
my_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')


my_string = ''.join(my_tuple)

print(my_string)

In [ ]:
25. Create a tuple from multiple data types.

In [ ]:
tuple = ("vineet",1,4.6)
print(tuple)

In [ ]:
26. Check if two tuples are identical.

In [ ]:
tuple = (1,2,3)
tuple1 = (1,2,3)
if tuple == tuple1:
    print("identical")
else:
    print("not identical")

In [ ]:
27. Sort the elements of a tuple.

In [ ]:
my_tuple = (1,78,3,9,18)
my_list = list(my_tuple)
my_list.sort()
print(tuple(my_list))

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = ()

for num in tuple_of_integers:
    tuple_of_strings += (str(num),)

print(tuple_of_strings)

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_of_strings =('1', '2', '3', '4', '5')
tuple_of_integers = ()

for num in tuple_of_strings :
    tuple_of_integers += (int(num),)

print(tuple_of_integers )

In [ ]:
30. Merge two tuples.

In [ ]:
tuple1 = (1,2,3,5,6)
tuple2 = (1,2,3,4)
merge = tuple1 + tuple2
print(merge)

In [ ]:
31. Flatten a nested tuple.

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(tuple(flat_list))

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [ ]:
list1 = []
i = 2
for i in range(2,6):
    is_prime = True
    for divisor in range(2,int(i**0.5)+1):
        if i % divisor == 0:
            is_prime = False
            break
    if is_prime:
        list1.append(i)
print(tuple(list1))

In [ ]:
33. Check if a tuple is a palindrome.

In [ ]:
tuple_1 = (1,2,1)
result = tuple_1[::-1]
if result == tuple_1:
    print("pallindrome")
else:
    print("not pallindrome")

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
list1 = []
for i in range(1,6):
    list1.append(i*i)
result = tuple(list1)
print(result)

In [ ]:
35. Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [ ]:
tuple_1 = (1,3,4,5,6)
list = []
for i in tuple_1:
    list.append(i*2)
tuple_1 = tuple(list)
print(tuple_1)

In [ ]:
37. Create a tuple of random numbers.

In [ ]:
import random


random_numbers = tuple(random.randint(1, 100) for _ in range(5))

print(random_numbers)

In [ ]:
38. Check if a tuple is sorted.

In [ ]:
tuple_1 = (1, 2, 3, 4, 5)
is_sorted = True

for i in range(len(tuple_1) - 1):
    if tuple_1[i] > tuple_1[i + 1]:
        is_sorted = False
        break

if is_sorted:
    print("sorted")
else:
    print("not sorted")

In [ ]:
39. Rotate a tuple to the left by `n` positions.

In [ ]:
size = int(input("Enter the size: "))
tuple_1 = [int(input("Enter element: ")) for _ in range(size)]
print("Original list:", tuple_1)
n = int(input("Enter the number of positions to rotate left: "))

n = n % size  
rotated_tuple = tuple_1[n:] +tuple_1[:n]

print("Rotated list:", rotated_tuple)

In [ ]:
40. Rotate a tuple to the right by `n` positions.

In [ ]:
size = int(input("Enter the size: "))
tuple_1 = [int(input("Enter element: ")) for _ in range(size)]
print("Original list:", tuple_1)

n = int(input("Enter the number of positions to rotate right: "))

n = n % size


rotated_rotated_tuple_1  = tuple_1[-n:] + tuple_1[:-n]

print("Rotated list:", rotated_rotated_tuple_1 )

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
list_1 = [0,1]
for _ in range(3):
    next_element = list_1[-1] + list_1[-2]
    list_1.append(next_element)
tuple_1 = tuple(list_1)
print(tuple_1)

In [ ]:
42. Create a tuple from user input.

In [ ]:
size = int(input("Enter the size: "))
tuple_1 = [int(input("Enter element: ")) for _ in range(size)]
print("Original list:", tuple_1)

In [ ]:
43. Swap two elements in a tuple.

In [ ]:

original_list = [10, 20, 30, 40, 50]

index1 = 1
index2 = 3


mutable_list = list(original_list)



if 0 <= index1 < len(mutable_list) and 0 <= index2 < len(mutable_list):
   
    mutable_list[index1], mutable_list[index2] = mutable_list[index2], mutable_list[index1]


 
    result_list = mutable_list
 

    print(result_list)
else:
   
    print("Invalid indices provided.")

In [ ]:
44. Reverse the elements of a tuple.

In [ ]:
tuple_1 = (1,2,3,4,5)
result = tuple_1[::-1]
print(result)

In [ ]:
45. Create a tuple of the first `n` powers of 2.

In [ ]:
n = int(input("enter the number"))
list1 = []
for i in range(1,n):
    list1.append(i*i)
tuple_1 = list1
print(tuple_1)

In [ ]:
46. Find the longest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")

longest_string = ""
max_length = 0


for string in string_tuple:
    if len(string) > max_length:
        max_length = len(string)
        longest_string = string

print("The longest string is:", longest_string)

In [ ]:
47. Find the shortest string in a tuple of strings.

In [ ]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

smallest_string = string_list[0]
min_length = len(string_list[0])


for string in string_list:
    if len(string) < min_length:
        min_length = len(string)
        smallest_string = string

print("The longest string is:", smallest_string)

In [ ]:
48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n = 5  
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.append(triangular_number)
tuple_1 = tuple(triangular_numbers)
print(tuple_1)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (2, 4, 6)

sub_len = len(sub_tuple)
main_len = len(main_tuple)

sub_idx = 0
main_idx = 0

while main_idx < main_len:
    if sub_tuple[sub_idx] == main_tuple [main_idx]:
        sub_idx += 1
    if sub_idx == sub_len:
        break
    main_idx += 1

if sub_idx == sub_len:
    print("The sub_tuple is a subsequence of the main_tuple.")
else:
    print("The sub_tuple is not a subsequence of the main_tuple.")

In [ ]:
50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n = int(input("enter the number"))
alternating_list = []
for i in range(n):
    if i%2 == 0:
        alternating_list.append(1)
    else:
        alternating_list.append(0)
alternating_tuple = tuple(alternating_list)
print(alternating_tuple)

In [ ]:




Set Based Practice Problem :

In [ ]:
1. Create a set with integers from 1 to 5.

In [ ]:
thisset = {1,2,3,4,5}
print(thisset)

In [ ]:
2. Add an element to a set.

In [ ]:
thisset = {1,2,3,4,5}
thisset.add(6)
print(thisset)

In [ ]:
3. Remove an element from a set.

In [ ]:
thisset = {1,2,3,4,5}
thisset.remove(5)
print(thisset)

In [ ]:
4. Check if an element exists in a set.

In [ ]:
thisset = {1, 2, 3, 4, 5}
element = 4

for x in thisset:
    if x == element:
        print("present")
        break

In [ ]:
5. Find the length of a set without using the `len()` function.

In [ ]:
set = {1,2,3,5,4}
count = 0
for i in set:
    count = count +1

print(count)

In [ ]:
6. Clear all elements from a set.

In [ ]:
set1 = {1,2,3,4,5,6,7}
set1.clear()
print(set1)

In [ ]:
7. Create a set of even numbers from 1 to 10.

In [ ]:
even_number = set()
for i in range(1,11):
    if i%2 == 0:
        even_number.add(i)
print(even_number)

In [ ]:
8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_number = set()
for i in range(1,11):
    if i%2 != 0:
        odd_number.add(i)
print(odd_number)

In [ ]:
9. Find the union of two sets.

In [ ]:
set1 = {1,2,3}
set2 = {4,6,7}
print(set1.union(set2))

In [ ]:
10. Find the intersection of two sets.

In [ ]:
set1 = {1,2,3}
set2 = {4,2,7}
result = set()
for item in set1:
    if item in set2:
        result.add(item)
print(result)

In [ ]:
11. Find the difference between two sets.

In [ ]:
set_1 = {1,2,4}
set_2 = {1,3,4}
result = set()
for item in set1:
    if item not in set_2:
        result.add(item)
print(result)

In [ ]:
12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = True
for i in set2:
    if i not in set1:
        is_subset = False
        break
if is_subset:
    print("subsset of another set")
else:
    print("not subset of another set")

In [ ]:
13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {1, 3, 4}

is_superset = True

for element in set2:
    if element not in set1:
        is_superset = False
        break

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

In [ ]:
14. Create a set from a list.

In [ ]:
mylist = [1,22,2,2,4,5,6]
my_set = set()
for i in mylist:
    my_set.add(i)
print(my_set)

In [ ]:
15. Convert a set to a list.

In [ ]:
my_set ={1,2,3,4,5}
my_list = []
for i in my_set:
    my_list.append(i)
print(my_list)

In [ ]:
16. Remove a random element from a set.

In [ ]:
import random

my_set = {1, 2, 3, 4, 5}


removed_element = random.choice(list(my_set))
my_set.remove(removed_element)

print(f"Removed element: {removed_element}")
print(f"Updated set: {my_set}")

In [ ]:
17. Pop an element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}

popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

In [ ]:
18. Check if two sets have no elements in common.

In [ ]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}
is_common = True
for item in set1:
    if item not in set1:
        is_common = False
        break
if is_common:
    print("not common element between two sets")
else:
    print("common element between two sets:")

In [ ]:
19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5} #we can alse ^ opertor to find symmetric difference
set2 = {3, 4, 5, 6, 7}
result = set()
for i in set1:
    if i not in set2:
        result.add(i)
for i in set2:
    if i not in set1:
        result.add(i) 
print(result)

In [ ]:
20. Update a set with elements from another set.

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}
x.update(y)
print(x)

In [ ]:
21. Create a set of the first 5 prime numbers.

In [ ]:
prime_set = set()
count = 0
num = 2

while count < 5:
    is_prime = True

    for divisor in range(2, int(num**0.5) + 1):
        if num % divisor == 0:
            is_prime = False
            break

    if is_prime:
        prime_set.add(num)
        count += 1

    num += 1

print(prime_set)

In [ ]:
22. Check if two sets are identical.

In [ ]:
set_A = {1,2,3,4}
set_B = {1,2,3,4}
if set_A == set_B:
    print("identical")
else:
    print("not identical")

In [ ]:
23. Create a frozen set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

In [ ]:
24. Check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

if set1.isdisjoint(set2):
    print("The sets are disjoint")
else:
    print("The sets have common elements")

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [ ]:
result = set()
for item in range(5):
    result.add(item*item)
print(result)

In [ ]:
26. Filter out all even numbers from a set.

In [ ]:
orginal = {1,2,3,4,5,6,7,8,9,10}
result = {x  for x in orginal if x%2 == 0}
print(result)

In [ ]:
27. Multiply all elements in a set by 2.

In [ ]:
original_set = { 2, 3, 4}
result = set()
for item in original_set:
    result.add(item*item)
print(result)

In [ ]:
28. Create a set of random numbers.

In [ ]:
import random


random_numbers = {random.randint(1, 100) for _ in range(5)}

print(random_numbers)

In [ ]:
29. Check if a set is empty.

In [ ]:
result = set()
if len(result) == 0:
    print("set is empty")

In [ ]:
30. Create a nested set (hint: use frozenset).

In [ ]:
# Create inner frozensets
inner_set1 = frozenset([1, 2, 3])
inner_set2 = frozenset([4, 5, 6])

# Create a set containing the inner frozensets
nested_set = {inner_set1, inner_set2}

print(nested_set)

In [ ]:
31. Remove an element from a set using the discard method.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using discard
my_set.discard(3)

print(my_set)

In [ ]:
32. Compare two sets.

In [ ]:
set1 = {1,3,4}
set2 = {1,3,4}
if set1 == set2:
    print("equal")
else:
    print("unequal")

In [ ]:
33. Create a set from a string.

In [ ]:
my_string = "hello"
my_set = set()

for char in my_string:
    my_set.add(char)

print(my_set)

In [ ]:
35. Convert a set of integers to a set of strings.

In [ ]:
int_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using a set comprehension
str_set = {str(x) for x in int_set}

print(str_set)

In [ ]:
36. Create a set from a tuple.

In [ ]:
tuple1 = {1,2,3,4,5}
result = set()
for i in tuple1:
    result.add(i)
print(result)

In [ ]:
37. Convert a set to a tuple.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

In [ ]:
38. Find the maximum value in a set.

In [ ]:
set1 = {1,2,3,4,5,6}
max = 0
for i in set1:
    if i>max:
        max = i
print(max)

In [ ]:
39. Find the minimum value in a set.

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}

# Find the minimum element in the set using the min() function
min_value = min(set1)

print(min_value)

In [ ]:
40. Create a set from user input.

In [ ]:
# Initialize an empty set
user_set = set()

# Prompt the user to enter values
while True:
    value = input("Enter a value (or press Enter to finish): ")
    
    # If the user presses Enter without entering a value, exit the loop
    if not value:
        break
    
    # Add the value to the se
    user_set.add(value)

print("Set created from user input:", user_set)

In [ ]:
41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The sets have no common elements (intersection is empty)")
else:
    print("The sets have common elements (intersection is not empty)")

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1

    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set

# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)
print(first_5_fibonacci)

In [ ]:
43. Remove duplicates from a list using sets.

In [ ]:
list1 = [1,2,2,2,3,3,3,3,4,4,4,5,5,6,6,6]
result = set()
for i in list1:
    result.add(i)
print(result)

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if the sets are equal (have the same elements)
if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

In [ ]:
45. Create a set of the first `n` powers of 2.

In [ ]:
n = int(input("enter the number"))
result = set()
for i in range(1,n):
    result.add(i*i)
print(result)

In [ ]:
46. Find the common elements between a set and a list.

In [ ]:

# Define a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using list comprehension
common_elements = [x for x in my_list if x in my_set]

print("Common elements:", common_elements)

In [ ]:
47. Create a set of the first `n` triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
    triangular_set = set()
    for i in range(1, n + 1):
        triangular_set.add(i * (i + 1) // 2)
    return triangular_set

# Generate the first n triangular numbers (replace n with the desired value)
n = 5  # You can change this to any positive integer
first_n_triangular = generate_triangular_numbers(n)
print(first_n_triangular)

In [ ]:
48. Check if a set contains another set as a subset.

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Alternatively, you can use the <= operator
# is_subset = set2 <= set1

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

In [ ]:
49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def create_alternating_set(n):
    alternating_set = set()

    for i in range(n):
        alternating_set.add(i % 2)

    return alternating_set


n = 10  
alternating_set = create_alternating_set(n)
print(alternating_set)

In [ ]:
50. Merge multiple sets into one.

In [ ]:
# Define multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

print(merged_set)